*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Arial';
	font-size: 16px;
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

#particles-js {
	width: 100%;
	height: 90%;
	position: fixed;
	background: rgba(0,0,0,.1);
}

header{
	width: 100%;
	background:url(fractal.jpg);
	background-size: auto;
	background-attachment: fixed;
	background-position: center 0;
}
header .contenedor{
	position: relative;
	height: 700px;
}

header .menu{
	width: 100%;
	text-align: left;
/*	position: fixed;
	z-index: 100%;*/
}

header .menu a{
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 10px;
	text-decoration: none;
	position: relative;
}


header .menu a:hover{
	text-decoration: underline;
}

header .logo{
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -52px;
}

header .logo .materia{
	font-size: 48px;
	font-weight: 600;
	text-align: right;
}

header .mensaje{
	width: 100%;
	color: #fff;
	position: absolute;
	top:80%;
	margin-top: 80px;
}

header .mensaje .bienvenida {
	text-align: center;
	font-size: 20px;
}

header .contacto{
	width: 100%;
	color: #fff;
	position: absolute;
	top:80%;
	margin-top: 80px;
}

header .contacto .informacion{
	text-align: center;
	font-size: 20px;
}

header .sitios{
	width: 100%;
	color: #fff;
	position: absolute;
	top:80%;
	margin-top: 80px;
}

header .sitios .enlaces{
	text-align: center;
	font-size: 20px;
}

header .sitios .enlaces li a{
	text-decoration: none;
	color: #fff;
}

header .sitios .enlaces li a:hover{
	text-decoration: underline;
}

.main {
	background:url('../img/dark.png');
}

.main .tarea2 , .main .tarea1, .main .adicional, .main .apoyo{
	text-align: center;
	position: relative;
	padding: 10px;
}

.main .tarea2 iframe, .main .tarea1 iframe, .main .adicional iframe, .main .apoyo iframe{
	width: 600px; 
	height: 745px;
}

.main .tarea2 h2, .main .tarea1 h2, .main .adicional h2, .main .apoyo h2{
	color: #fff;
	font-size: 24px;
}

.main article{
	color: #fff;
	text-align: center;
	padding: 20px;
	/*width: 80%;*/
	position: relative;
	border-radius: 4px;
}

.main article h2{
	font-size: 24px;
}

.main article p, .main article ul li{
	text-align: left;
	font-size: 20px
}

.main .frase{
text-align: center;
}

.main .frase img{
	width: 400px;
}

footer{
	background: #0A122A;
	width: 100%;
}

footer .copyright {
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	color: #fff;
}

@media screen and (max-width: 800px){
	header{
	background-size: 1036px 700px ;
	}

	header .logo .materia{
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	}
}

@media screen and (max-width: 600px){
	header{
	background-size: 956px 650px ;
	}

	header .logo .materia{
	font-size: 28px;
	font-weight: 350;
	text-align: center;
	}

	header .menu{
	width: 100%;
	text-align: center;
}

	header .menu a{
	font-size: 18px;
	font-weight: 200;
	margin: 22px 10px;
	}

	header .mensaje .bienvenida {
	font-size: 16px;
}

	header .contacto .informacion{
	font-size: 16px;
	}

	header .sitios .enlaces{
	font-size: 16px;
}
	.main article ul li{
	font-size: 16px
}

	.main .frase img{
	width: 300px;
	}

	.main .tarea2 h2, .main .tarea1 h2, .main .adicional h2, .main .apoyo h2{
	font-size: 18px;
}

	.main .tarea2 iframe , .main .tarea1 iframe, .main .adicional iframe, .main .apoyo iframe{
	width: 390px; 
	height: 490px;
	}

	.main .tarea2 , .main .tarea1, .main .adicional, .main .apoyo{
	padding: 6px;

}

@media screen and (max-width: 400px){

	header{
	background-size: 860px 600px ;
	}

	header .contenedor{
		height: 500px;
	}

	header .logo .materia{
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	}

    header .menu a{
	font-size: 16px;
	font-weight: 200;
	margin: 16px 8px;
	}

	header .mensaje .bienvenida {
	font-size: 14px;
}

	header .contacto .informacion{
	font-size: 14px;
	}

	header .sitios .enlaces{
	font-size: 14px;
}

	.main article p, .main article ul li{
	font-size: 14px
}
	
	.main .frase img{
	width: 280px;
	}

	.main .tarea2 h2, .main .tarea1 h2, .main .adicional h2, .main .apoyo h2{
	font-size: 14px;
}

	.main .tarea2 iframe,. main .tarea1 iframe, .main .adicional iframe, .main .apoyo iframe{
	width: 300px; 
	height: 400px;
	}

.main .tarea2 , .main .tarea1, .main .adicional, .main .apoyo{
	padding: 4px;


}
