*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Arial';
	font-size: 16px;
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.1);
}

header{
	width: 100%;
	background:url(fractal.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;
}
header .contenedor{
	position: relative;
	height: 700px;
}

header .menu{
	width: 100%;
	text-align: left;
}

header .menu a{
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}


header .menu a:hover{
	text-decoration: underline;
}

header .logo{
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -52px;
}

header .logo .materia{
	font-size: 50px;
	font-weight: 600;
	text-align: right;
}

.main {
	background:url('../img/dark.png');
}

.main .tarea1{
	text-align: center;
	position: relative;
	padding: 10px;
}

.main .tarea1 iframe{
	width: 500px; 
	height: 700px;
}

.main article{
	color: #fff;
	text-align: center;
	padding: 20px;
	/*width: 80%;*/
	position: relative;
	border-radius: 4px;
}

.main article h2{
	font-size: 24px;
}

.main article p{
	font-size: 18px;
}

footer{
	background: #0A122A;
	width: 100%;
}

footer .copyright {
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	color: #fff;
}

@media screen and (max-width: 600px){
	header .logo .materia{
	font-size: 35px;
	font-weight: 350;
	text-align: center;
	}

	.main .tarea1 iframe{
	width: 400px; 
	height: 500px;
}

}

@media screen and (max-width: 400px){
	header .logo .materia{
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	}

	.main .tarea1 iframe{
	width: 340px; 
	height: 420px;
}

}